<!DOCTYPE html>
<html>
  <head>
    <title>Development Operations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <link type="text/css" rel="stylesheet" href="assets/pilcrow.css" />
    <link type="text/css" rel="stylesheet" href="assets/hljs-github.min.css"/>
  </head>
<body><h4 id="development-operations"><a class="header-link" href="#development-operations"></a>Development Operations</h4>
<p>Development operations covers the acquisition and management of all tools needed for development purposes. This mostly includes tools to regulate shared resource usage amount a group (like VMs and databases) and other tools to provide testing and integration services.</p>
<h4 id="client"><a class="header-link" href="#client"></a>Client</h4>
<p>The client code is available at <code>praxyk/devops/client/</code>.</p>
<h4 id="server"><a class="header-link" href="#server"></a>Server</h4>
<p>The server code is available at <code>praxyk/devops/server/</code>.</p>
</body>
</html>
