<!DOCTYPE html>
<html>
  <head>
    <title>DevOps has Moved</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <link type="text/css" rel="stylesheet" href="assets/pilcrow.css" />
    <link type="text/css" rel="stylesheet" href="assets/hljs-github.min.css"/>
  </head>
<body><h3 id="devops-has-moved"><a class="header-link" href="#devops-has-moved"></a>DevOps has Moved</h3>
<p>DevOps has been moved to it&#39;s own repository - <a href="https://github.com/Praxyk/Praxyk-DevOps">https://github.com/Praxyk/Praxyk-DevOps</a></p>
<p>The wiki for devops has been moved here - <a href="https://github.com/Praxyk/Praxyk-DevOps/wiki">https://github.com/Praxyk/Praxyk-DevOps/wiki</a></p>
</body>
</html>
