{% extends "base.html" %}

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
	<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
		<br>
		<div class="jumbotron col-md-12 col-xs-12 col-sm-12 col-lg-12" style="margin:0">
            <ul class="list-inline">
                <li><h1> Praxyk </h1></li>
                <li><h3 style="padding-left: 40px"> Machine Learning Services </h3></li>
            </ul>
            <div class="panel panel-default col-md-4 col-sm-4">
                <h5> Choose a Model </h5>
                <img src="static/img/home_page_img_1.png" class="img-responsive" alt="Data Graph" >
                <p> Choose from one of our pre-trained machine-learning models to use.</p>
            </div>
            <div class="panel panel-default col-md-4 col-sm-4">
                <h5> Upload Your Data </h5>
                <img src="static/img/home_page_img_2.png" class="img-responsive" alt="Data Graph" >
                <p> Upload your data through either our website or API </p>
            </div>
            <div class="panel panel-default col-md-4 col-sm-4">
                <h5> Get Your Results</h5>
                <img src="static/img/home_page_img_4.svg" class="img-responsive" alt="Data Graph" >
                <p> Receive world-class predictions on your data. </p>
            </div>

<!-- If the user is logged in show a box to let them enter the dashboard -->
    {% if user %}
    <div class="col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 col-md-10 col-lg-10">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-bottom:10px">
            <a href="/dashboard"><button class="btn btn-primary" style="width:100%">Enter Dashboard</button></a>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <a href="/logout"><button class="btn btn-default" style="width:100%">Sign Out</button></a>
        </div>
    </div>

	{% else %}

<!-- If they're not logged in show a login/registration form  -->
    <div class="col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 col-md-10 col-lg-10">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-bottom:10px">
            <a href="/register"><div class="btn btn-success" style="width:100%">Register for Free</div></a>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <a href="/login"><div class="btn btn-primary" style="width:100%">Login</div></a>
        </div>
    </div>
        
	{% endif %}



        </div>
    </div>
    </div>
		
{% endblock %}
