{% extends "dashboard/dashboard_base.html" %}


{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}


{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding-right:0px; padding-left:0px">
    <br>
  <div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
			<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
				<div class="card">
					<div><h2 style="text-align:center"><strong> Praxyk Dashboard</strong></h2></div>
				</div>
			</div>
		</div>
	</div>
          <div class="row">
            {% if not newest_trans.trans_id %}
                <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="jumbotron">
                    <div class="row">
                        <h3 style="text-align:center"> You don't have any transactions to show! </h3>
                        <h4 style="text-align:center"> After you make your first request to a Praxyk service, this page will be filled with data about your account and request history. </h4>
                        </div> <!-- end row -->
                    </div> <!-- end cardbody -->
                </div> <!-- end col -->
              </div> <!-- end card -->


              {% else %}

			<div class="col-md-12 col-lg-8 col-sm-12">
				<div class="col-md-6 col-lg-6 col-sm-6">
				  <div class="card">
					  <div class="cardtitle">
						<h5 style="text-align:center" > Data Ingress</h5>
					  </div>
					  <div class="cardbody">
						  <h3 style="text-align:center"> {{ ingress_str }} </h3>
					  </div>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 col-sm-6">
				  <div class="card">
					  <div class="cardtitle">
						<h5 style="text-align:center" > Total Requests</h5>
					  </div>
					  <div class="cardbody">
						  <h3 style="text-align:center">{{ num_transactions }} </h3>
					  </div>
					</div>
				</div>

				<div class="col-md-12 col-lg-12 col-sm-12">
                </div>
				<div id="new_trans_card" class="col-md-12 col-lg-12 col-sm-12">
                    {{ trans_card|safe }}
                </div>
            </div>



            <div class="col-md-12 col-lg-4 col-sm-12">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Transaction States</h5>
                  </div>
                  <div class="cardbody">
                    <div id="transaction-status-pie"></div>
                  </div>
                </div>
            </div>
            </div>

          </div>



          <div class="row">
            <div class="col-md-12 col-lg-8 col-sm-12">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Request History</h5>
                  </div>
                  <div class="cardbody">
                    <div id="transaction-date-counts"></div>
                  </div>
                </div>
            </div>
            </div>

            <div class="col-md-12 col-lg-4 col-sm-12">
			 <div class="col-md-6 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Monthly Costs</h5>
                  </div>
                  <div class="cardbody">
                      <h3 style="text-align:center">${{ cost_total }}</h3>
                  </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Service Usage</h5>
                  </div>
                  <div class="cardbody">
                      {% for key in command_counts %}
                      <h5 style="text-align:center">{{ key }} : {{ command_counts[key] }}</h5>
                      {% endfor %}
                  </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script> 
		status_pie({{ state_counts|safe }}, {{ state_names|safe }}, "transaction-status-pie");
        status_bar({{ date_counts|safe }}, {{ dates|safe }}, "transaction-date-counts");

		function OnResize() {
             status_pie({{ state_counts|safe }}, {{ state_names|safe }}, "transaction-status-pie");
			 status_bar({{ date_counts|safe }}, {{ dates|safe }}, "transaction-date-counts");
		  }
		window.resize = OnResize();
		document.resize = OnResize();

         // render_trans({{ transactions[0]|safe }}, function(html) { $("#new_trans_card").prepend(html); console.log("FUKC"); console.log(html); });
        var transaction = {{ newest_trans|safe }}
        if(transaction.status == "active" || transaction.status == "new") {
            trans_spin(transaction.trans_id, "{{ token }}", "card");
        }
        // window.onload = function() {push_trans(transaction, "{{ token }}");};

</script>
{% endblock %}
