{% extends "dashboard/dashboard_base.html" %}

<head>
<script type="text/javascript" src="/static/js/scripts/graphs.js"></script>
</head>

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0">
<br>

    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
		<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="col-sm-3 col-md-2 col-lg-2" style="padding-top: 20px">
					<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="width:fill-div">
						{%if nxt %}
						<a href="/dashboard/transaction/{{nxt}}">
							<div style="min-width:100%" class="btn btn-default fill-div">
								<i class="fa fa-chevron-left"></i> Newer
							</div>
						</a>
						 {% endif %}
						{%if prev %}
						<a href="/dashboard/transaction/{{prev}}">
							<div style="min-width:100%" class="btn btn-default fill-div">
								 Older <i class="fa fa-chevron-right"></i>
							 </div>
						</a>
						 {% endif %}
					</div>
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8">
				  <div >
					  <h2 style="text-align:center">
						  <strong>Transaction</strong> <small> #{{ transaction.trans_id }}</small> 
					  </h2>
				  </div>
				</div>
			</div>
		</div>
		</div>
	</div>


    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding:0">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div id="new_trans_card" class="col-md-12 col-sm-12 col-lg-12">
                    {{ trans_card|safe }}
                </div>
			</div>
		</div>
	</div>


    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
		<div class="card">
			<div class="cardtitle">
			  <h3 style="text-align:center">
				  <strong>Predictions</strong> 
			  </h3>
			</div>

		<div class"cardbody" style="background-color:#E0E0E0">

		{% for result_card  in result_cards %} 
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{ result_card|safe }}
				</div>
			</div>
		{% endfor %}

		</div>
		</div>
	</div>


        
    </div>
    </div>
{% endblock %}

{% block scripts %}
<script>

	 var transaction = {{ transaction|safe }};
	 setTimeout(function(){                                                                                                                      
		trans_spin(transaction, "{{ token }}", "card");
	 }, 50);

	var active_results = {{active_results|safe}};
	setTimeout(function() {
		results_spin(transaction.trans_id, active_results, "{{ token }}", "card");
    }, 50);

	// update_result_pie("token", transaction.trans_id);
	function OnResize() {
		 //status_pie({{ state_counts|safe }}, {{ state_names|safe }}, "results-status-pie");
		 // update_result_pie(" token ", transaction.trans_id);
	  }
	window.resize = OnResize()
</script>
		
{% endblock %}


