@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Karla|Maven+Pro|Open+Sans|Roboto:400,300|Lato|PT+Sans|Ubuntu|Cabin);
/* line 25, ../sass/_base.sass */
.label {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;
}

/* line 30, ../sass/_base.sass */
.page-header {
  color: #37474f;
}

/* line 33, ../sass/_base.sass */
body {
  background: #EEF2F1;
  font-family: "Open Sans", sans-serif;
  font-family: "Karla";
  font-weight: normal;
  height: 100%;
  overflow: hidden;
}

/* line 41, ../sass/_base.sass */
p {
  color: #37474f;
  font-family: "Roboto Slab", serif;
  font-family: "Karla";
  font-weight: normal;
}

/* line 48, ../sass/_base.sass */
.jumbotron {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-bottom: 60px;
}
/* line 54, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 67px;
}
/* line 56, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 52px;
}
/* line 58, ../sass/_base.sass */
.jumbotron p {
  font-size: 16px;
}
/* line 62, ../sass/_base.sass */
.jumbotron .panel h1 {
  font-size: 50px;
}
/* line 64, ../sass/_base.sass */
.jumbotron .panel h2 {
  font-size: 42px;
}
/* line 66, ../sass/_base.sass */
.jumbotron .panel p {
  font-size: 14px;
  padding: 15px;
}

/* line 70, ../sass/_base.sass */
.row {
  overflow: hidden;
}

/* line 73, ../sass/_base.sass */
.card {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  border: solid 1px #E0E0E0;
  border-radius: 5px;
  padding-top: 0px;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -5px;
  margin-left: -5px;
}
/* line 85, ../sass/_base.sass */
.card h1 {
  font-size: 67px;
}
/* line 87, ../sass/_base.sass */
.card h2 {
  font-size: 52px;
}
/* line 89, ../sass/_base.sass */
.card p {
  font-size: 16px;
}
/* line 92, ../sass/_base.sass */
.card .cardtitle {
  text-align: left;
  border-bottom: solid 1px #E0E0E0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 98, ../sass/_base.sass */
.card .cardtitle h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 104, ../sass/_base.sass */
.card .cardtitle h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 110, ../sass/_base.sass */
.card .cardtitle h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 117, ../sass/_base.sass */
.card .cardtitle h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 124, ../sass/_base.sass */
.card .cardtitle h5 {
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 132, ../sass/_base.sass */
.card .cardbody {
  padding: 10px;
}
/* line 134, ../sass/_base.sass */
.card .cardbody h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 139, ../sass/_base.sass */
.card .cardbody h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 144, ../sass/_base.sass */
.card .cardbody h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 150, ../sass/_base.sass */
.card .cardbody h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 156, ../sass/_base.sass */
.card .cardbody h5 {
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 162, ../sass/_base.sass */
.card .cardbody p {
  font-size: 14px;
  padding: 15px;
}
/* line 167, ../sass/_base.sass */
.card .cardtab {
  text-align: center;
  max-height: 100%;
  min-height: 120px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}
/* line 176, ../sass/_base.sass */
.card .cardtabtop {
  text-align: center;
  max-height: 40px;
  min-height: 40px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}

/* line 188, ../sass/_base.sass */
.container .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 196, ../sass/_base.sass */
.panel .panel-heading h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
/* line 200, ../sass/_base.sass */
.panel .panel-body {
  overflow-y: auto;
  padding: 0px;
}

/* line 205, ../sass/_base.sass */
.box {
  border: solid 1px #78909C;
  border-radius: 5px;
  margin: 10px;
}
/* line 210, ../sass/_base.sass */
.box .table {
  margin-bottom: 0px;
}

/* line 213, ../sass/_base.sass */
table {
  max-height: 200px;
  text-align: center;
  font-size: 14px;
}
/* line 220, ../sass/_base.sass */
table thead tr th {
  text-align: center;
  font-size: 15px;
}
/* line 225, ../sass/_base.sass */
table tbody tr td {
  font-size: 13px;
}

/* line 229, ../sass/_base.sass */
.table {
  max-height: 200px;
  text-align: center;
}
/* line 235, ../sass/_base.sass */
.table thead tr th {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 241, ../sass/_base.sass */
.table tbody tr td {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 12, ../sass/navbar.sass */
.navbar {
  min-height: 50px;
  z-index: 999999999;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
/* line 19, ../sass/navbar.sass */
.navbar .affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
/* line 23, ../sass/navbar.sass */
.navbar .navbar-default {
  height: 50px;
  background-color: #37474f;
  border-color: #37474f;
}
/* line 27, ../sass/navbar.sass */
.navbar .navbar-default .navbar-brand {
  color: #E0E0E0;
}
/* line 29, ../sass/navbar.sass */
.navbar .navbar-default .navbar-brand:hover, .navbar .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
/* line 31, ../sass/navbar.sass */
.navbar .navbar-default .navbar-text {
  color: #E0E0E0;
  width: 75%;
}
/* line 36, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > li > a {
  color: #E0E0E0;
}
/* line 38, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > li > a:hover, .navbar .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
/* line 51, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > .active > a, .navbar .navbar-default .navbar-nav > .active > a:hover, .navbar .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #78909C;
}
/* line 55, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > .open > a, .navbar .navbar-default .navbar-nav > .open > a:hover, .navbar .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #78909C;
}
/* line 58, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle {
  border-color: #37474f;
}
/* line 60, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle:hover, .navbar .navbar-default .navbar-toggle:focus {
  background-color: #78909C;
}
/* line 62, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: #E0E0E0;
}
/* line 64, ../sass/navbar.sass */
.navbar .navbar-default .navbar-collapse,
.navbar .navbar-default .navbar-form {
  border-color: #E0E0E0;
}
/* line 67, ../sass/navbar.sass */
.navbar .navbar-default .navbar-link {
  color: #E0E0E0;
}
/* line 69, ../sass/navbar.sass */
.navbar .navbar-default .navbar-link:hover {
  color: #37474f;
}
/* line 71, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header {
  color: #FFFFFF;
  background-color: #37474f;
}
/* line 75, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header ul li {
  color: #FFFFFF;
  background-color: #37474f;
}
/* line 78, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header ul li a {
  color: #FFFFFF;
  background-color: #37474f;
}
@media (max-width: 767px) {
  /* line 84, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E0E0E0;
  }
  /* line 86, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  /* line 89, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #78909C;
  }
}
