@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Karla|Maven+Pro|Open+Sans|Roboto:400,300|Lato|PT+Sans|Ubuntu|Cabin);
/* line 26, ../sass/_base.sass */
.label {
  margin: 5px;
  padding: 5px;
}

/* line 30, ../sass/_base.sass */
.page-header {
  color: #37474f;
}

/* line 34, ../sass/_base.sass */
.btn {
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
}

/* line 39, ../sass/_base.sass */
.btn-primary {
  color: #FFFFFF;
  background-color: #37474f;
  border: 1px solid #37474f;
}

/* line 44, ../sass/_base.sass */
.btn-default {
  background-color: #EEF0F2;
  color: #37474f;
}

/* line 49, ../sass/_base.sass */
body {
  background: #EEF2F1;
  background: #78909C;
  font-family: "Open Sans", sans-serif;
  font-family: "Karla";
  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* line 58, ../sass/_base.sass */
p {
  color: #37474f;
  font-family: "Roboto Slab", serif;
  font-family: "Karla";
  font-weight: normal;
}

/* line 65, ../sass/_base.sass */
.jumbotron {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-bottom: 60px;
}
/* line 71, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 67px;
}
/* line 73, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 52px;
}
/* line 75, ../sass/_base.sass */
.jumbotron p {
  font-size: 16px;
}
/* line 79, ../sass/_base.sass */
.jumbotron .panel h1 {
  font-size: 50px;
}
/* line 81, ../sass/_base.sass */
.jumbotron .panel h2 {
  font-size: 42px;
}
/* line 83, ../sass/_base.sass */
.jumbotron .panel p {
  font-size: 14px;
  padding: 15px;
}

/* line 87, ../sass/_base.sass */
.row {
  overflow: hidden;
}

/* line 90, ../sass/_base.sass */
.card {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  border: solid 1px #616161;
  border-radius: 2px;
  padding-top: 0px;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -5px;
  margin-left: -5px;
  padding-right: -5px;
  padding-left: -5px;
  min-width: 280px;
}
/* line 105, ../sass/_base.sass */
.card h1 {
  font-size: 57px;
  color: #37474f;
}
/* line 108, ../sass/_base.sass */
.card h2 {
  font-size: 48px;
  color: #37474f;
}
/* line 111, ../sass/_base.sass */
.card h3 {
  color: #37474f;
}
/* line 113, ../sass/_base.sass */
.card h4 {
  color: #37474f;
}
/* line 115, ../sass/_base.sass */
.card h5 {
  color: #37474f;
}
/* line 117, ../sass/_base.sass */
.card p {
  font-size: 16px;
}
/* line 120, ../sass/_base.sass */
.card .cardtitle {
  text-align: left;
  border-bottom: solid 1px #E0E0E0;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 126, ../sass/_base.sass */
.card .cardtitle h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 132, ../sass/_base.sass */
.card .cardtitle h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 138, ../sass/_base.sass */
.card .cardtitle h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 145, ../sass/_base.sass */
.card .cardtitle h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 152, ../sass/_base.sass */
.card .cardtitle h5 {
  color: #37474f;
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 161, ../sass/_base.sass */
.card .cardbody {
  padding: 10px;
  font-size: 12px;
}
/* line 164, ../sass/_base.sass */
.card .cardbody h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 169, ../sass/_base.sass */
.card .cardbody h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 174, ../sass/_base.sass */
.card .cardbody h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 180, ../sass/_base.sass */
.card .cardbody h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 186, ../sass/_base.sass */
.card .cardbody h5 {
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 192, ../sass/_base.sass */
.card .cardbody p {
  font-size: 12px;
}
/* line 196, ../sass/_base.sass */
.card .cardtab {
  text-align: center;
  max-height: 100%;
  min-height: 120px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}
/* line 205, ../sass/_base.sass */
.card .cardtabtop {
  text-align: center;
  max-height: 40px;
  min-height: 40px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}

/* line 217, ../sass/_base.sass */
.container .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 225, ../sass/_base.sass */
.panel .panel-heading h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
/* line 229, ../sass/_base.sass */
.panel .panel-body {
  overflow-y: auto;
  padding: 0px;
}

/* line 234, ../sass/_base.sass */
.box {
  border: solid 1px #78909C;
  border-radius: 5px;
  margin: 10px;
}
/* line 239, ../sass/_base.sass */
.box .table {
  margin-bottom: 0px;
}

/* line 242, ../sass/_base.sass */
table {
  max-height: 200px;
  text-align: center;
  font-size: 14px;
}
/* line 249, ../sass/_base.sass */
table thead tr th {
  text-align: center;
  font-size: 15px;
}
/* line 254, ../sass/_base.sass */
table tbody tr td {
  font-size: 13px;
}

/* line 258, ../sass/_base.sass */
.table {
  max-height: 200px;
  text-align: center;
}
/* line 264, ../sass/_base.sass */
.table thead tr th {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 270, ../sass/_base.sass */
.table tbody tr td {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 12, ../sass/navbar_dashboard.sass */
.navbar {
  min-height: 50px;
  z-index: 999999999;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* line 19, ../sass/navbar_dashboard.sass */
.navbar .affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
/* line 23, ../sass/navbar_dashboard.sass */
.navbar .navbar-default {
  height: 50px;
  background-color: #37474f;
  border-color: #37474f;
}
/* line 27, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-brand {
  color: #EEF0F2;
}
/* line 29, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-brand:hover, .navbar .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
/* line 31, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-text {
  color: #EEF0F2;
  width: 75%;
}
/* line 34, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 38, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-nav > li > a {
  color: #EEF0F2;
  font-size: 14px;
}
/* line 41, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-nav > li > a:hover, .navbar .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
/* line 54, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-nav > .active > a, .navbar .navbar-default .navbar-nav > .active > a:hover, .navbar .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #78909C;
}
/* line 58, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-nav > .open > a, .navbar .navbar-default .navbar-nav > .open > a:hover, .navbar .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #78909C;
}
/* line 61, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-toggle {
  border-color: #37474f;
}
/* line 63, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-toggle:hover, .navbar .navbar-default .navbar-toggle:focus {
  background-color: #78909C;
}
/* line 65, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: #EEF0F2;
}
/* line 67, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-collapse,
.navbar .navbar-default .navbar-form {
  border-color: #EEF0F2;
}
/* line 70, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-link {
  color: #EEF0F2;
}
/* line 72, ../sass/navbar_dashboard.sass */
.navbar .navbar-default .navbar-link:hover {
  color: #37474f;
}
@media (max-width: 767px) {
  /* line 76, ../sass/navbar_dashboard.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #EEF0F2;
  }
  /* line 78, ../sass/navbar_dashboard.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  /* line 81, ../sass/navbar_dashboard.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #78909C;
  }
}
