@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Karla|Maven+Pro|Open+Sans|Roboto:400,300|Lato|PT+Sans|Ubuntu|Cabin);
/* line 26, ../sass/_base.sass */
.label {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 30, ../sass/_base.sass */
.page-header {
  color: #37474f;
}

/* line 33, ../sass/_base.sass */
body {
  background: #EEF2F1;
  background: #78909C;
  font-family: "Open Sans", sans-serif;
  font-family: "Karla";
  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* line 42, ../sass/_base.sass */
p {
  color: #37474f;
  font-family: "Roboto Slab", serif;
  font-family: "Karla";
  font-weight: normal;
}

/* line 49, ../sass/_base.sass */
.jumbotron {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-bottom: 60px;
}
/* line 55, ../sass/_base.sass */
.jumbotron h1 {
  font-size: 67px;
}
/* line 57, ../sass/_base.sass */
.jumbotron h2 {
  font-size: 52px;
}
/* line 59, ../sass/_base.sass */
.jumbotron p {
  font-size: 16px;
}
/* line 63, ../sass/_base.sass */
.jumbotron .panel h1 {
  font-size: 50px;
}
/* line 65, ../sass/_base.sass */
.jumbotron .panel h2 {
  font-size: 42px;
}
/* line 67, ../sass/_base.sass */
.jumbotron .panel p {
  font-size: 14px;
  padding: 15px;
}

/* line 71, ../sass/_base.sass */
.row {
  overflow: hidden;
}

/* line 74, ../sass/_base.sass */
.card {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  border: solid 1px #EEF0F2;
  border-radius: 5px;
  padding-top: 0px;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -5px;
  margin-left: -5px;
  padding-right: -5px;
  padding-left: -5px;
}
/* line 88, ../sass/_base.sass */
.card h1 {
  font-size: 57px;
  color: #37474f;
}
/* line 91, ../sass/_base.sass */
.card h2 {
  font-size: 48px;
  color: #37474f;
}
/* line 94, ../sass/_base.sass */
.card h3 {
  color: #37474f;
}
/* line 96, ../sass/_base.sass */
.card h4 {
  color: #37474f;
}
/* line 98, ../sass/_base.sass */
.card h5 {
  color: #37474f;
}
/* line 100, ../sass/_base.sass */
.card p {
  font-size: 16px;
}
/* line 103, ../sass/_base.sass */
.card .cardtitle {
  text-align: left;
  border-bottom: solid 1px #E0E0E0;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 109, ../sass/_base.sass */
.card .cardtitle h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 115, ../sass/_base.sass */
.card .cardtitle h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 121, ../sass/_base.sass */
.card .cardtitle h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 128, ../sass/_base.sass */
.card .cardtitle h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 135, ../sass/_base.sass */
.card .cardtitle h5 {
  color: #37474f;
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 144, ../sass/_base.sass */
.card .cardbody {
  padding: 10px;
  font-size: 12px;
}
/* line 147, ../sass/_base.sass */
.card .cardbody h1 {
  font-size: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 152, ../sass/_base.sass */
.card .cardbody h2 {
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 157, ../sass/_base.sass */
.card .cardbody h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 163, ../sass/_base.sass */
.card .cardbody h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 169, ../sass/_base.sass */
.card .cardbody h5 {
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
}
/* line 175, ../sass/_base.sass */
.card .cardbody p {
  font-size: 12px;
}
/* line 179, ../sass/_base.sass */
.card .cardtab {
  text-align: center;
  max-height: 100%;
  min-height: 120px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}
/* line 188, ../sass/_base.sass */
.card .cardtabtop {
  text-align: center;
  max-height: 40px;
  min-height: 40px;
  min-width: 50px;
  border: 0;
  padding: 7px;
  margin: 0px;
}

/* line 200, ../sass/_base.sass */
.container .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 208, ../sass/_base.sass */
.panel .panel-heading h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
/* line 212, ../sass/_base.sass */
.panel .panel-body {
  overflow-y: auto;
  padding: 0px;
}

/* line 217, ../sass/_base.sass */
.box {
  border: solid 1px #78909C;
  border-radius: 5px;
  margin: 10px;
}
/* line 222, ../sass/_base.sass */
.box .table {
  margin-bottom: 0px;
}

/* line 225, ../sass/_base.sass */
table {
  max-height: 200px;
  text-align: center;
  font-size: 14px;
}
/* line 232, ../sass/_base.sass */
table thead tr th {
  text-align: center;
  font-size: 15px;
}
/* line 237, ../sass/_base.sass */
table tbody tr td {
  font-size: 13px;
}

/* line 241, ../sass/_base.sass */
.table {
  max-height: 200px;
  text-align: center;
}
/* line 247, ../sass/_base.sass */
.table thead tr th {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 253, ../sass/_base.sass */
.table tbody tr td {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 2, ../sass/sidebar.sass */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 9, ../sass/sidebar.sass */
#wrapper.toggled {
  padding-left: 250px;
}

/* line 12, ../sass/sidebar.sass */
#sidebar-wrapper {
  background-color: #FFFFFF;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: solid 1px #EEF0F2;
}

/* line 27, ../sass/sidebar.sass */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* line 31, ../sass/sidebar.sass */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* line 37, ../sass/sidebar.sass */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
/* line 44, ../sass/sidebar.sass */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  background: #FFFFFF;
}

/* line 55, ../sass/sidebar.sass */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding-top: 10px;
  padding-left: 20px;
}

/* line 62, ../sass/sidebar.sass */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #37474f;
}

/* line 68, ../sass/sidebar.sass */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #78909C;
  background: rgba(255, 255, 255, 0.2);
}

/* line 74, ../sass/sidebar.sass */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  color: #78909C;
}

/* line 81, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 22px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 89, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand a {
  color: #37474f;
}

/* line 93, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand a:hover {
  color: #78909C;
  background: none;
}

/* line 97, ../sass/sidebar.sass */
.sidebar-nav li .nav {
  text-indent: 20px;
  line-height: 20px;
  padding-top: 0px;
}

/* line 103, ../sass/sidebar.sass */
.sidebar-nav li .nav li a {
  display: block;
  text-decoration: none;
  color: #37474f;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 112, ../sass/sidebar.sass */
.sidebar-nav li .nav li a:hover {
  text-decoration: none;
  color: #78909C;
  background: rgba(255, 255, 255, 0.2);
}

/* line 118, ../sass/sidebar.sass */
.sidebar-nav li .nav li a:active,
.sidebar-nav li .nav li a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  color: #78909C;
}

@media(min-width:768px) {
  /* line 125, ../sass/sidebar.sass */
  #wrapper {
    padding-left: 250px;
  }

  /* line 129, ../sass/sidebar.sass */
  #wrapper.toggled {
    padding-left: 0;
  }

  /* line 133, ../sass/sidebar.sass */
  #sidebar-wrapper {
    width: 250px;
  }

  /* line 137, ../sass/sidebar.sass */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  /* line 141, ../sass/sidebar.sass */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  /* line 146, ../sass/sidebar.sass */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
