{% extends "dashboard/dashboard_base.html" %}

<head>
<script type="text/javascript" src="/static/js/scripts/graphs.js"></script>
</head>

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}

{% block content %}
    <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-10" style="padding:0"  >
      <br>
      <div class="page-header"><h1 style="text-align:center"><strong>Transactions</strong></h1></div>

        {% if not all_transactions %}
            <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="jumbotron">
                <div class="row">
                    <h3 style="text-align:center"> You don't have any transactions to show! </h3>
                    <h4 style="text-align:center"> Any future requests to a Praxyk service can be found here. </h4> 
                    </div> <!-- end row -->
                </div> <!-- end cardbody -->
            </div> <!-- end col -->
          </div> <!-- end card -->

          {% else %}

            <div class="row">
                <div class="col-lg-offset-1 col-md-12 col-lg-10 col-sm-12 col-xs-12">
                    {% for trans_card in trans_cards %}

                    {{ trans_card|safe }}

                    {% endfor %}
                </div>
            </div> <!-- end row -->
        {% endif %}

    </div>
<script src="/static/js/scripts/graphs.js"></script>
<script> 
         transaction_status_pie({{ state_counts|safe }}, {{ state_names|safe }});
		 transaction_status_bar({{ date_counts|safe }}, {{ dates|safe }});
</script>
		
{% endblock %}


