{% extends "dashboard/dashboard_base.html" %}

<head>
<script type="text/javascript" src="/static/js/scripts/graphs.js"></script>
<script src="/static/js/scripts/praxyk.js"></script>
</head>

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0"  >
		<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" >
		<div class="col-sm-12 col-md-12 col-lg-12"  >
			<div class="card">
			<div class="col-sm-3 col-md-2 col-lg-2" style="padding-top: 20px">
				<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="width:fill-div">
					{%if prev_page %}
					<a href="/dashboard/transactions?page={{prev_page}}">
 						<div style="min-width:100%" class="btn btn-default">
							<i class="fa fa-chevron-left"></i> Newer
 						 </div>
					</a>
					 {% endif %}
					{%if next_page %}
					<a href="/dashboard/transactions?page={{next_page}}">
						<div style="min-width:100%" class="btn btn-default">
							 Older <i class="fa fa-chevron-right"></i>
						</div>
					</a>
					 {% endif %}
				</div>
			</div>

			<div class="col-sm-8 col-md-8 col-lg-8">
				<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
					<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
							  <div><h1 style="text-align:center"><strong>Transactions</strong></h1></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>

        {% if not all_transactions %}
            <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="jumbotron">
                <div class="row">
                    <h3 style="text-align:center"> You don't have any transactions to show! </h3>
                    <h4 style="text-align:center"> Any future requests to a Praxyk service can be found here. </h4> 
                    </div> <!-- end row -->
                </div> <!-- end cardbody -->
            </div> <!-- end col -->
          </div> <!-- end card -->

          {% else %}

				<!-- <div id="new_trans_card" class="col-md-12 col-sm-12 col-lg-12"></div> -->
				{% for card in trans_cards %}
					<div class="hidden-lg col-xs-12 col-md-12 col-sm-12" style="padding:0px">
						{{ card|safe }}
					</div>
					<div class="hidden-xs hidden-sm hidden-md col-lg-6" style="padding:15px">
						{{ card|safe }}
					</div>
				{% endfor %}
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    <script> 
	   transactions = {{ active_transactions|safe }};

        setTimeout(function (){                                                                                                                      
			transactions.map( function(item) {trans_spin(item, "{{ token }}", "card"); });
        }, 50);

    </script>
{% endblock %}
