{% extends "dashboard/dashboard_base.html" %}


{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}


{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
    <br>
        <div><h1 style="text-align:center"> Praxyk Dashboard</h1></div>
          <div class="row">
            {% if not all_transactions %}
                <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="jumbotron">
                    <div class="row">
                        <h3 style="text-align:center"> You don't have any transactions to show! </h3>
                        <h4 style="text-align:center"> After you make your first request to a Praxyk service, this page will be filled with data about your account and request history. </h4>
                        </div> <!-- end row -->
                    </div> <!-- end cardbody -->
                </div> <!-- end col -->
              </div> <!-- end card -->


              {% else %}

			<div class="col-md-8 col-lg-8 col-sm-12">
				<div class="col-md-6 col-lg-6 col-sm-6">
				  <div class="card">
					  <div class="cardtitle">
						<h5 style="text-align:center" > Data Ingress</h5>
					  </div>
					  <div class="cardbody">
						  <h3 style="text-align:center"> {{ ingress_str }} </h3>
					  </div>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 col-sm-6">
				  <div class="card">
					  <div class="cardtitle">
						<h5 style="text-align:center" > Total Requests</h5>
					  </div>
					  <div class="cardbody">
						  <h3 style="text-align:center">{{ num_transactions }} </h3>
					  </div>
					</div>
				</div>

				<div class="col-md-12 col-lg-12 col-sm-12">
                    {{ trans_card|safe }}
                </div>
            </div>




            <div class="col-md-4 col-lg-4 col-sm-12">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Transaction States</h5>
                  </div>
                  <div class="cardbody">
                    <div id="tester"></div>
                  </div>
                </div>
            </div>
            </div>

          </div>



          <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Request History</h5>
                  </div>
                  <div class="cardbody">
                    <div id="date-counts"></div>
                  </div>
                </div>
            </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Monthly Costs</h5>
                  </div>
                  <div class="cardbody">
                      {% for key in command_counts %}
                      <h3 style="text-align:center">${{ cost_total }}</h3>
                      {% endfor %}
                  </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Service Usage</h5>
                  </div>
                  <div class="cardbody">
                      {% for key in command_counts %}
                      <h3 style="text-align:center">{{ key }} : {{ command_counts[key] }}</h3>
                      {% endfor %}
                  </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script
<script src="/static/js/scripts/graphs.js"></script>
<script> transaction_status_pie({{ state_counts|safe }}, {{ state_names|safe }});
		 transaction_status_bar({{ date_counts|safe }}, {{ dates|safe }});

 function OnResize() {
     transaction_status_pie({{ state_counts|safe }}, {{ state_names|safe }});
     transaction_status_bar({{ date_counts|safe }}, {{ dates|safe }});
  }

</script>
 
		
{% endblock %}
