{% extends "dashboard/dashboard_base.html" %}

<head>
<script type="text/javascript" src="/static/js/scripts/graphs.js"></script>
</head>

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block sidebar %}
{{ sidebar|safe }}
{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
    <br>

    <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="row">
		<div class="col-sm-3 col-md-2 col-lg-2" style="padding-top: 20px">
			<div class="col-md-6 col-lg-6 col-sm-6" style="width:fill-div">
                {%if prev %}
                     <a href="/dashboard/transaction/{{prev}}"><div style="width:100%" class="btn btn-default"> Prev </div></a>
                 {% endif %}
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6" style="width:fill-div" >
                {%if nxt %}
                     <a href="/dashboard/transaction/{{nxt}}"><div style="width:100%" class="btn btn-default"> Next</div></a>
                 {% endif %}
			</div>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8">
		  <h2 style="text-align:center"> 
			Transaction ID #{{ transaction.trans_id }}
		  </h2>
		</div>
    </div>


		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8">
				<div class="col-md-12 col-lg-12 col-sm-12">
                    {{ trans_card | safe }}
			</div>
			</div>

            <div class="col-md-4 col-lg-4 col-sm-4">
			 <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card">
                  <div class="cardtitle">
                    <h5 style="text-align:center" >Transaction States</h5>
                  </div>
                  <div class="cardbody">
                    <div id="tester"></div>
                  </div>
                </div>
            </div>
            </div>

		</div>

        <hr>
		  <h2 style="text-align:center"> 
            Predictions	
		  </h2>

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">
            {% for result_card  in result_cards %} 
                <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ result_card|safe }}
                </div>
                </div>
                </div>  <!-- end row -->
            {% endfor %}
		  </div>


      </div>
        
    </div>
    </div>
<script src="/static/js/scripts/graphs.js"></script>
<script> transaction_status_pie({{ state_counts|safe }}, {{ state_names|safe }});
		 transaction_status_bar({{ date_counts|safe }}, {{ dates|safe }});
</script>
		
{% endblock %}


