{% extends "dashboard/dashboard_base.html" %}

{% block sidebar %}
    {{ sidebar|safe }}
{% endblock %}

{% block navbar %}
    {{ navbar|safe }}
{% endblock %}

{% block content %}

    <div class="col-sm-offset-2 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
    <br>
    <div class="col-md-12 col-sm-12 col-lg-12">
		  <h2 style="text-align:center"> 
			Services - <small> Learn From Your Data </small>
		  </h2>
    </div>

    <div class="card">
    <div class='cardtitle'>
        <h5 style="text-align:center" >Optical Chacter Recognition</h5>
    </div>
    <div class="cardbody">
        <p>Optical Character Recognition is a Machine Learning model that can detect and extract text that is present in a given image.</p>
        <p> It works as follow : </p>
        <ul>
        <li> Upload of Set of Images to Perform OCR on.</li>
        <li> We run each of the images through our OCR model and extract the text present.</li>
        <li> We return to you a string for each image containing our best guess as to the text present in the images you submitted. </li>
        </p>
        <div class="btn btn-primary">Create new OCR Request</div>
    </div>
    </div>

    <div class="card">
    <div class='cardtitle'>
        <h5 style="text-align:center" >Face Detection</h5>
    </div>
    <div class="cardbody">
        <div class="btn btn-primary">Create new Facial Detection Request</div>
    </div>
    </div>


    <div class="card">
    <div class='cardtitle'>
        <h5 style="text-align:center" >Spam Classification</h5>
    </div>
    <div class="cardbody">
        <div class="btn btn-primary">Create new Bayes-Spam Request</div>
    </div>
    </div>

    </div>
{% endblock %}
