@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Karla|Maven+Pro|Open+Sans|Roboto:400,300|Lato|PT+Sans|Ubuntu|Cabin);
/* line 21, ../sass/_base.sass */
.page-header {
  color: #37474f;
}

/* line 24, ../sass/_base.sass */
body {
  background: #EEF2F1;
  background: #78909C;
  font-family: "Open Sans", sans-serif;
  font-family: "Karla";
  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* line 12, ../sass/navbar.sass */
.navbar {
  min-height: 50px;
  z-index: 999999999;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
/* line 19, ../sass/navbar.sass */
.navbar .affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
/* line 23, ../sass/navbar.sass */
.navbar .navbar-default {
  height: 50px;
  background-color: #37474f;
  border-color: #37474f;
}
/* line 27, ../sass/navbar.sass */
.navbar .navbar-default .navbar-brand {
  color: #EEF0F2;
}
/* line 29, ../sass/navbar.sass */
.navbar .navbar-default .navbar-brand:hover, .navbar .navbar-default .navbar-brand:focus {
  color: #FFF;
}
/* line 31, ../sass/navbar.sass */
.navbar .navbar-default .navbar-text {
  color: #EEF0F2;
  width: 75%;
}
/* line 36, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > li > a {
  color: #EEF0F2;
}
/* line 38, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > li > a:hover, .navbar .navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
}
/* line 51, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > .active > a, .navbar .navbar-default .navbar-nav > .active > a:hover, .navbar .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #78909C;
}
/* line 55, ../sass/navbar.sass */
.navbar .navbar-default .navbar-nav > .open > a, .navbar .navbar-default .navbar-nav > .open > a:hover, .navbar .navbar-default .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #78909C;
}
/* line 58, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle {
  border-color: #37474f;
}
/* line 60, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle:hover, .navbar .navbar-default .navbar-toggle:focus {
  background-color: #78909C;
}
/* line 62, ../sass/navbar.sass */
.navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: #EEF0F2;
}
/* line 64, ../sass/navbar.sass */
.navbar .navbar-default .navbar-collapse,
.navbar .navbar-default .navbar-form {
  border-color: #EEF0F2;
}
/* line 67, ../sass/navbar.sass */
.navbar .navbar-default .navbar-link {
  color: #EEF0F2;
}
/* line 69, ../sass/navbar.sass */
.navbar .navbar-default .navbar-link:hover {
  color: #37474f;
}
/* line 71, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header {
  color: #FFF;
  background-color: #37474f;
}
/* line 75, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header ul li {
  color: #FFF;
  background-color: #37474f;
}
/* line 78, ../sass/navbar.sass */
.navbar .navbar-default .navbar-header ul li a {
  color: #FFF;
  background-color: #37474f;
}
@media (max-width: 767px) {
  /* line 84, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #EEF0F2;
  }
  /* line 86, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
  }
  /* line 89, ../sass/navbar.sass */
  .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #78909C;
  }
}
