@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Karla|Maven+Pro|Open+Sans|Roboto:400,300|Lato|PT+Sans|Ubuntu|Cabin);
/* line 21, ../sass/_base.sass */
.page-header {
  color: #37474f;
}

/* line 24, ../sass/_base.sass */
body {
  background: #EEF2F1;
  background: #78909C;
  font-family: "Open Sans", sans-serif;
  font-family: "Karla";
  font-weight: normal;
  height: 100%;
  overflow: auto;
}

/* line 2, ../sass/sidebar.sass */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 9, ../sass/sidebar.sass */
#wrapper.toggled {
  padding-left: 250px;
}

/* line 12, ../sass/sidebar.sass */
#sidebar-wrapper {
  background-color: #FFF;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: solid 1px #EEF0F2;
}

/* line 27, ../sass/sidebar.sass */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* line 31, ../sass/sidebar.sass */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* line 37, ../sass/sidebar.sass */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
/* line 44, ../sass/sidebar.sass */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFF;
  background: #FFF;
}

/* line 55, ../sass/sidebar.sass */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding-top: 10px;
  padding-left: 20px;
}

/* line 62, ../sass/sidebar.sass */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #37474f;
}

/* line 68, ../sass/sidebar.sass */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #78909C;
  background: rgba(255, 255, 255, 0.2);
}

/* line 74, ../sass/sidebar.sass */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  color: #78909C;
}

/* line 81, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 22px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 89, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand a {
  color: #37474f;
}

/* line 93, ../sass/sidebar.sass */
.sidebar-nav > .sidebar-brand a:hover {
  color: #78909C;
  background: none;
}

/* line 97, ../sass/sidebar.sass */
.sidebar-nav li .nav {
  text-indent: 20px;
  line-height: 20px;
  padding-top: 0px;
}

/* line 103, ../sass/sidebar.sass */
.sidebar-nav li .nav li a {
  display: block;
  text-decoration: none;
  color: #37474f;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 112, ../sass/sidebar.sass */
.sidebar-nav li .nav li a:hover {
  text-decoration: none;
  color: #78909C;
  background: rgba(255, 255, 255, 0.2);
}

/* line 118, ../sass/sidebar.sass */
.sidebar-nav li .nav li a:active,
.sidebar-nav li .nav li a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  color: #78909C;
}

@media(min-width:768px) {
  /* line 125, ../sass/sidebar.sass */
  #wrapper {
    padding-left: 250px;
  }

  /* line 129, ../sass/sidebar.sass */
  #wrapper.toggled {
    padding-left: 0;
  }

  /* line 133, ../sass/sidebar.sass */
  #sidebar-wrapper {
    width: 250px;
  }

  /* line 137, ../sass/sidebar.sass */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  /* line 141, ../sass/sidebar.sass */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  /* line 146, ../sass/sidebar.sass */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
